{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'dijitlayout.html'}}

<script type="text/javascript">
    dojo.require("dijit.form.MultiSelect");
    
    // include page specific js here - needs to go inside the parent call
  {{block addOnLoadBegin}}

    // include super/parent code first
    {{ super }}
          var sel = dojo.byId('dynamic');
          var n = 0;
          for (var i in dijit) {
              var c = dojo.doc.createElement('option');
              c.innerHTML = i;
              c.value = n++;
              sel.appendChild(c);
          }
          new dijit.form.MultiSelect({
              name: 'dynamic'
          },
          sel);
    {{end}}

  // Add fn terminator here
  {{block addOnLoadEnd}}
    {{super}}
    {{end}}


</script>

<!-- Define div for css layout --> 


<h3>Assign Tags</h3>
<select id="dynamic">
</select>
<p>
    <button onClick="alert(dijit.byId('dynamic').attr('value'))">
        Get Selected values
    </button>
</p>

<ul id="taglist">

{{for tag in tags:}}

<li>{{= tag.id}}, {{tag.name}}
</li>
{{pass}}
</ul>





