{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'dijitlayout.html'}}

<script type="text/javascript">
    function getimgtags() { // 
        dojo.xhrGet( { 

        alert ('make xhr request');
 
        url: "/gallery/search/getimgtags.json",                
        handleAs: "json",
        timeout: 5000, // Time in milliseconds
 		
        // The LOAD function will be called on a successful response.
        load: function(response, ioArgs) { //
		    // Search for the HTML tag with the ID "ctags" and replace it with the answer of 
		    // of the server call
        dojo.byId("ctags").innerHTML = response; // 
        return response; // 
        },

        // The ERROR function will be called in an error case.
        error: function(response, ioArgs) { // 
          console.error("HTTP status code: ", ioArgs.xhr.status); //
          dojo.byId("content").innerHTML = 'Loading the resource from the server did not work'; //  
          return response; // 
          },
          
        // Here you put the parameters to the server side program 
        // need to get from url 
        //content: {q: dojo.byId("dojosearch").value }
        //dummy value for testing
        content: {q: 2 }

         });
      }
  </script>


<script type="text/javascript">
    dojo.require("dijit.form.MultiSelect");
    
    // include page specific js here - needs to go inside the parent call
  {{block addOnLoadBegin}}

    // include super/parent code first
    {{ super }}

    //retrieve image tags for current image
    alert (' Load proc....');
    getimgtags();


    {{end}}

  // Add fn terminator here
  {{block addOnLoadEnd}}
    {{super}}
    {{end}}


</script>



<h1>Image: {{=image.title}}</h1>
<center>
<img height="400px"
     src="{{=URL('download', args=image.file)}}" />
</center>

<h3>Current Image Tags</h3>
<div id='ctags'>

</id>


<h3>Assign Tags</h3>
<select id="dynamic">
</select>
<p>
    <button onClick="alert(dijit.byId('dynamic').attr('value'))">
        Get Selected values
    </button>
</p>

{{if len(comments):}}
  <h3>Comments</h3>
  {{for comment in comments:}}
    <li>{{=comment.author}} says <i>{{=comment.body}}</i></li>
  {{pass}}
{{else:}}
  <h3>No comments posted yet</h3>
{{pass}}
<br/>
<h3>Post a comment</h3>
{{=form}}
